<!DOCTYPE html>
<html lang="en">
<head><title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><h2>머신러닝</h2>
    <p>지도학습(supervised), 자율학습(Un-supervised), 강화학습(reinforcement)</p>
    <table class="table">
        <thead>
        <tr class="danger">
            <th>No.</th>
            <th>예 제</th>
            <th>프로세스</th>
            <th>주요내용</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1.</td>
            <td><a href="/move/ui_calc">UI 계산기</a> | <a href="/move/ai_calc">AI 계산기</a></td>
            <td>Modeling</td>
            <td>모델 생성, 저장, 재활용</td>
        </tr>
        <tr class="warning">
            <td>2.</td>
            <td><a href="/move/titanic">타이타닉 </a></td>
            <td>Preprocessing.  </td>
            <td>지도학습. 이진분류</td>
        </tr>
        <tr>
            <td>3.</td>
            <td><a href=""></a>범죄율과 CCTV상관관계 분석</td>
            <td>Preprocessing. </td>
            <td>비지도학습. 회귀</td>
        </tr>
        <tr class="warning">
            <td>4.</td>
            <td><a href="">램가격 예측 </a></td>
            <td>Decision Tree</td>
            <td>선형 회귀 (Linear Regression) </td>
        </tr>
        <tr>
            <td>5.</td>
            <td><a href="/move/cabbage">배추가격 예측</a></td>
            <td>Tensorflow</td>
            <td>지도학습. 회귀</td>
        </tr>
            <td>6.</td>
            <td><a href="/move/stock_ticker">  </a>나이브베이즈</td>
            <td>Tensorflow</td>
            <td>여러 범주 (예: 스팸, 스포츠, 정치) 중 하나로 판단하는 문제</td>

        <tr>
            <td>7.</td>
            <td><a href="">  </a></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="warning">
            <td>8.</td>
            <td><a href="">  </a></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>